<div class="content-area">
  <h2>New Routine</h2>

  {{#paper-form onSubmit=(route-action "save" model) as |form|}}
    <div class="layout-row">
      <div class="layout-column flex-100">
       {{form.input label="Name" value=model.name onChange=(action (mut model.name)) required=true}}
      </div>
    </div>
    <div class="layout-row">
      {{#form.submit-button raised=true primary=true}}Save{{/form.submit-button}}
    </div>
  {{/paper-form}}
</div>
