<h2 class="main">Routine: {{model.name}}</h2>
<h3>Exercise Sets</h3>
<ul>
  {{#each model.sets as |set|}}
    <li>
      {{set.exercise}}
    </li>
  {{else}}
    <p>Currently no exercises</p>
  {{/each}}
</ul>

<h4>Add new exercise sets</h4>
{{edit-set}}
