<div class="nav">
  {{#link-to 'workouts'}}
    Workouts
  {{/link-to}}
</div>
<div class="main">
  <h1>Body Pump Yo!</h1>
  <p>
    I love pink
  </p>
  <h3>
    Blahzzz
  </h3>
  {{#link-to 'hello'}}
    Go to hello
  {{/link-to}}
  {{outlet}}
</div>
